<br />
<h2>Localização de Veiculos</h2>
<hr />
<fieldset>
  <legend>Mapa</legend>

  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>

    <legend>Lista</legend>
    <div class="col-md-12">
      <a class="btn btn-success" routerLink="/carros/novo" href="/carros/novo">
        + Novo</a
      >
    </div>

    <div class="col-md-12">
      <br /><app-listar
        (emitLinhaSelecionada)="selecionarMarcador($event)"
      ></app-listar>
    </div>
  </div>
</fieldset>
