<form method="post">
  <div class="form-groups">
    <label for="txtIdent">Identificador</label>
    <input type="text" class="form-control" id="txtIdent" />
  </div>

  <div class="form-groups">
    <label for="txtPlaca">Placa</label>
    <input type="text" class="form-control" id="txtPlaca" />
  </div>

  <div class="form-groups">
    <label for="txtRastreio">Rastreamento Nº Serial</label>
    <input type="text" class="form-control" id="txtRastreio" />
  </div>

  <div class="form-groups">
    <label for="txtLatitude">Latitude</label>
    <input type="text" class="form-control" id="txtLatitude" />
  </div>

  <div class="form-groups">
    <label for="txtLongitude">Longitude</label>
    <input type="text" class="form-control" id="txtLongitude" />
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="reset" class="btn btn-danger">Limpar</button>
</form>
