<h2>Cadastro de Veículos</h2>

<form [formGroup]="formulario" (ngSubmit)="salvar()">
  <div class="form-groups">
    <label for="txtIdent">Identificador</label>
    <input
      type="text"
      class="form-control"
      id="txtIdent"
      formControlName="identificador"
    />
  </div>

  <div class="form-groups">
    <label for="txtPlaca">Placa</label>
    <input
      type="text"
      class="form-control"
      id="txtPlaca"
      formControlName="placa"
    />
  </div>

  <div class="form-groups">
    <label for="txtRastreio">Rastreamento Nº Serial</label>
    <input
      type="text"
      class="form-control"
      id="txtRastreio"
      formControlName="numeroRastreio"
    />
  </div>

  <div class="form-groups">
    <label for="txtLatitude">Latitude</label>
    <input
      type="text"
      class="form-control"
      id="txtLatitude"
      formControlName="latitude"
    />
  </div>

  <div class="form-groups">
    <label for="txtLongitude">Longitude</label>
    <input
      type="text"
      class="form-control"
      id="txtLongitude"
      formControlName="longitude"
    />
  </div>

  <div class="form-groups">
    <label for="txtChassi">Chassi</label>
    <input
      type="text"
      class="form-control"
      id="txtChassi"
      formControlName="chassi"
    />
  </div>

  <div class="form-groups">
    <label for="txtCor">Cor</label>
    <input type="text" class="form-control" id="txtCor" formControlName="cor" />
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="reset" class="btn btn-danger">Limpar</button>
</form>

<p>Form: {{ formulario.status }}</p>
