<table class="table table-hover">
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Placa</th>
      <th>Nº serial do rastreador</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
    @for(carro of carrosList; track carro.codigo){
    <tr>
      <td>{{ carro.identificador }}</td>
      <td>{{ carro.placa }}</td>
      <td>{{ carro.numeroRastreio }}</td>
      <td>{{ carro.latitude }}</td>
      <td>{{ carro.longitude }}</td>
      <td>-</td>
    </tr>
    }
  </tbody>
</table>
